html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
  font: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}