.about {
  padding: 80px 0;
  text-align: center;
}

.about__title {
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  color: #252525;
  padding-bottom: 16px;
  margin-bottom: 16px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
  }
}

.about__subtitle {
  font-weight: 500;
  font-size: 23px;
  color: #4a4a4a;
  margin-bottom: 42px;
}

.about__items {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}

.about__item {
  max-width: 360px;
}
.about__item-img {
  max-width: 342px;
  object-fit: cover;
  margin-bottom: 15px;
}
.about__item-text {
  font-weight: 300;
  line-height: 1.3;
  color: #4a4a4a;
}
