.footer {
  padding: 58px 0;
  background-color: #1a1a1a;
}
.footer__box {
  margin: 0 auto;
  max-width: 200px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-decoration-skip-ink: none;
  color: #888;
}
.footer__copy {
  span {
    text-decoration: underline;
  }
}