.info {
  background: #0f0b0b;
  
  .container {
    padding: 100px 0 141px;
    position: relative;
    z-index: 0;
  }
}

.info__img {
  position: absolute;
  left: -5%;
  bottom: 20px;
  z-index: -1;
  max-width: 615px;
}
.info__content {
  max-width: 750px;
  text-align: right;
  margin-left: auto;
}
.info__title {
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  color: #f9bf3b;
  margin-bottom: 16px;
}
.info__text {
  font-weight: 300;
  font-size: 16px;
  text-align: right;
  color: #fff;

  p:not(:last-child) {
    margin-bottom: 20px;
  }
}
.info__text-bold {
  font-weight: 500;
}