.webinar {
  padding: 50px 0;
  text-align: center;
  color: #fff;
  background: #0f0b0b;
}
.webinar__img {
  max-width: 500px;
  margin-bottom: 40px;
}
.webinar__title {
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.webinar__subtitle {
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;
  text-transform: uppercase;
  color: #f9bf3b;
  margin-bottom: 20px;
}
.webinar__text {
  font-weight: 500;
  font-size: 23px;
  color: #efefef;
}